.container{
    background-color: blueviolet;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    

}

.square{
    width: 100px;
    height: 100px;
    background-color: #000000;
    flex: 1 1 calc(6.25% - 8px);
    
}